<div class="row">
  <h4>Product Management</h4>
</div>

<div class="row">
  <div class="col-md-6">
  </div>
  <div class="col-md-6">
      <button type="button" class="btn btn-primary float-end" (click)="onOpenModal()"><i class="bi bi-plus-circle-fill"></i> Add</button>
  </div>
</div>


<div class="row">

      <div class="col-md-6 col-lg-3" *ngFor="let item of productList; index as i">
        <div class="card">
          <div class="card-body">
            <div class="plan-name">
              {{item.productname}} </div>
            <div class="plan-description">
              <div class="plan-price month">
                {{item.currency}}/{{item.price}}<sub> / {{item.period}}</sub></div>
              <p> {{item.description}}</p>
            </div>
            <div class="plan-description specs">
                <ul>
                  <li *ngFor="let sub of item.listdescription">
                    {{sub}}
                  </li>
                </ul>
            </div>
            <div class="plan-cta mt-2">
              <button type="button" class="btn btn-primary me-2" (click)="onEditRow(item)"><i class="bi bi-pencil"></i></button>
              <button type="button" class="btn btn-danger" (click)="onDeleteRow(item, i)"><i class="bi bi-trash3"></i></button>
            </div>
          </div>
        </div>
      </div>


</div>

<!-- <div class="row mt-2">
    <table class="table table-bordered">
      <ngx-loading
      [show]="loading"
      [config]="{ backdropBorderRadius: '3px' }"
    ></ngx-loading>
        <thead>
          <tr>
            
            <th scope="col">ID</th>
            <th scope="col">Product Name</th>
            <th scope="col"> Description</th>
            <th scope="col"> Linked Service List</th>
            <th scope="col" style="width: 120px;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of productList; index as i;">
            <th scope="row">{{item.name}}</th>
            <td>{{item.description}}</td>
            <td>{{item.description}}</td>
            <td>
              <button type="button" class="btn btn-primary me-2" (click)="onEditRow(item)"><i class="bi bi-pencil"></i></button>
              <button type="button" class="btn btn-danger" (click)="onDeleteRow(item, i)"><i class="bi bi-trash3"></i></button>
            </td>
          </tr>

        </tbody>
      </table>
</div> -->