<div class="row">
  <h4>Role Management</h4>
</div>


<div class="row">
    <div class="col-md-6">
      <!-- <form class="row g-3" [formGroup]="onOrderSearchform" (ngSubmit)="onSubmit(onOrderSearchform.value)">
        <div class="col-auto">
          <label for="selectedperson" class="visually-hidden">Email</label>
          <select class="form-select" formControlName="email" (change)="onChangeEmail($event)">
            <option [value]="''">Select the Project</option>
            <option  *ngFor="let person of ProjectList"  [value]="person.email">{{person.name}}</option>
        </select>
        <div *ngIf="onOrderSearchform.controls['email'].hasError('email') && (onOrderSearchform.controls['email'].touched || !onOrderSearchform.controls['email'].pristine)"
            class="error pt-1  " translate>
            Please select the Person
        </div>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-3"><i class="bi bi-search"></i> Search</button>
        </div>
      </form> -->
    </div>
    <div class="col-md-6">
        <button type="button" class="btn btn-primary float-end" (click)="onOpenModal()"><i class="bi bi-plus-circle-fill"></i> Add</button>
    </div>
</div>

<div class="row mt-2">
    <table class="table table-bordered">
      <ngx-loading
      [show]="loading"
      [config]="{ backdropBorderRadius: '3px' }"
    ></ngx-loading>
        <thead>
          <tr>
            
            <th scope="col"> Role Name</th>
            <th scope="col">Description</th>
            <th scope="col" style="width: 120px;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of rolelist; index as i;">
            <th scope="row">{{item.rolename}}</th>
            <td>{{item.description}}</td>
            <td>
              <button type="button" class="btn btn-primary me-2" (click)="onEditRow(item, i)"><i class="bi bi-pencil"></i></button>
              <button type="button" class="btn btn-danger" (click)="onDeleteRow(item, i)"><i class="bi bi-trash3"></i></button>
            </td>
          </tr>

        </tbody>
      </table>
</div>