<div>
    <div class="modal-content">
        <ngx-loading
        [show]="loading"
        [config]="{ backdropBorderRadius: '3px' }"
      ></ngx-loading>
        <div class="modal-header">
            <h4 class="modal-title pull-left"><span *ngIf="isEdit;else add">Update</span>
                <ng-template #add>New </ng-template> Consumer
            </h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="cancel(false)">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form [formGroup]="mainform" autocomplete="off" (ngSubmit)="onSubmit(mainform.value)">
            <div class="modal-body">
                <div class="container">
                    <div class="alert alert-danger" style="padding:5px10px ;" *ngIf="errormessage!=''">
                        {{errormessage}}
                    </div>
                    <input *ngIf="isEdit" type="hidden" formControlName="id">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name"> Consumer Name <span class="text-danger">*</span> </label>
                                <input type="text" class="form-control input-small-4" id="FullName"
                                    formControlName="FullName" placeholder="Enter the Consumer Name" [ngClass]="{ 'is-invalid': submitted && f['FullName'].errors }">
                                  <div *ngIf="submitted && f['FullName'].errors" class="invalid-feedback">
                                        <div *ngIf="f['FullName'].errors['required'] || (f['FullName'].touched || !f['FullName'].pristine)">Please enter the Consumer Name</div>
                                  </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="name">Consumer Type <span class="text-danger">*</span> </label>
                                <select class="form-select" aria-label="Default select example"
                                    formControlName="TypeId" [ngClass]="{ 'is-invalid': submitted && f['TypeId'].errors }">
                                    <option [value]="''">Select the Consumer Type</option>
                                    <option *ngFor="let item of consumerTypeList"  [value]="item.id">{{item.name}}</option>
                                </select>
                                <div *ngIf="submitted && f['TypeId'].errors" class="invalid-feedback">
                                    <div *ngIf="f['TypeId'].errors['required'] || (f['TypeId'].touched || !f['TypeId'].pristine)">Please select the Consumer Type</div>
                              </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name"> Consumer Number <span class="text-danger">*</span> </label>
                                <input type="text" class="form-control input-small-4" id="ConsumerNumber"
                                    formControlName="ConsumerNumber" placeholder="Enter the Consumer Number">
                                    <div *ngIf="submitted && f['TypeId'].errors" class="invalid-feedback">
                                        <div *ngIf="f['TypeId'].errors['required'] || (f['TypeId'].touched || !f['TypeId'].pristine)">
                                            Please select the Consumer Type</div>
                                  </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name"> Consumer Occupation <span class="text-danger">*</span> </label>
                                <input type="text" class="form-control input-small-4" id="ConsumerOccupation"
                                    formControlName="ConsumerOccupation" placeholder="Enter the Consumer Occupation">
                                    <div *ngIf="submitted && f['TypeId'].errors" class="invalid-feedback">
                                        <div *ngIf="f['TypeId'].errors['required'] || (f['TypeId'].touched || !f['TypeId'].pristine)">
                                            Please select the Consumer Occupation
                                        </div>
                                  </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Description"> Consumer Address   </label>
                                    <textarea id="w3review" class="form-control input-small-4" name="Description" rows="4" formControlName="Description">
                                        </textarea>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name"> Consumer Mobile No <span class="text-danger">*</span> </label>
                                <input type="text" class="form-control input-small-4" id="ConsumerMobileNo"
                                    formControlName="ConsumerMobileNo" placeholder="Enter the Consumer Mobile No">
                                    <div *ngIf="submitted && f['ConsumerMobileNo'].errors" class="invalid-feedback">
                                        <div *ngIf="f['ConsumerMobileNo'].errors['required'] || (f['ConsumerMobileNo'].touched || !f['ConsumerMobileNo'].pristine)">Please select the Consumer Mobile Np</div>
                                  </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="onReset()" class="btn btn-warning float-right">
                Reset
              </button>
                <button type="button" class="btn  btn-secondary" data-dismiss="modal"
                    (click)="cancel(false)">Cancel</button>
                <button type="submit" class="btn  btn-primary pr-4 pl-4" *ngIf="!isEdit"
                    >Submit</button>
                <button type="submit" class="btn  btn-primary pr-4 pl-4" *ngIf="isEdit"
                    [disabled]="!mainform.valid">Update</button>
            </div>
        </form>

    </div>
</div>