<div>
    <div class="modal-content">
        <ngx-loading
        [show]="loading"
        [config]="{ backdropBorderRadius: '3px' }"
      ></ngx-loading>
        <div class="modal-header">
            <h4 class="modal-title pull-left"><span *ngIf="isEdit;else add">Update</span>
                <ng-template #add>New </ng-template> Consumer
            </h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="cancel(false)">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form [formGroup]="mainform" autocomplete="off" (ngSubmit)="onSubmit(mainform.value)">
            <div class="modal-body">
                <div class="container">
                    <div class="alert alert-danger" style="padding:5px10px ;" *ngIf="errormessage!=''">
                        {{errormessage}}
                    </div>
                    <input *ngIf="isEdit" type="hidden" formControlName="ID">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name"> Consumer Name <span class="text-danger">*</span> </label>
                                <input type="text" class="form-control input-small-4" id="consumer_name"
                                    formControlName="consumer_name" placeholder="Enter the Consumer Name" [ngClass]="{ 'is-invalid': submitted && f['consumer_name'].errors }">
                                  <div *ngIf="submitted && f['consumer_name'].errors" class="invalid-feedback">
                                        <div *ngIf="f['consumer_name'].errors['required'] || (f['consumer_name'].touched || !f['consumer_name'].pristine)">Please enter the Consumer Name</div>
                                  </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="name">Consumer Type <span class="text-danger">*</span> </label>
                                <select class="form-select" aria-label="Default select example"
                                    formControlName="consumer_type" [ngClass]="{ 'is-invalid': submitted && f['consumer_type'].errors }">
                                    <option [value]="''">Select the Consumer Type</option>
                                    <option *ngFor="let item of consumerTypeList"  [value]="item.groupname">{{item.groupname}}</option>
                                </select>
                                <div *ngIf="submitted && f['consumer_type'].errors" class="invalid-feedback">
                                    <div *ngIf="f['consumer_type'].errors['required'] || (f['consumer_type'].touched || !f['consumer_type'].pristine)">Please select the Consumer Type</div>
                              </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name"> Consumer Ref <span class="text-danger">*</span> </label>
                                <input type="text" class="form-control input-small-4" id="consumer_ref"
                                    formControlName="consumer_ref" placeholder="Enter the Consumer Ref">
                                    <div *ngIf="submitted && f['consumer_ref'].errors" class="invalid-feedback">
                                        <div *ngIf="f['consumer_ref'].errors['required'] || (f['consumer_ref'].touched || !f['consumer_ref'].pristine)">
                                            Please select the Consumer Type</div>
                                  </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name"> Client Public KeyPath<span class="text-danger">*</span> </label>
                                <input type="text" class="form-control input-small-4" id="ClientPublicKeyPath"
                                    formControlName="ClientPublicKeyPath" placeholder="Enter the Client Public KeyPath">
                                    <div *ngIf="submitted && f['ClientPublicKeyPath'].errors" class="invalid-feedback">
                                        <div *ngIf="f['ClientPublicKeyPath'].errors['required'] || (f['ClientPublicKeyPath'].touched || !f['ClientPublicKeyPath'].pristine)">
                                            Please select the Consumer Occupation
                                        </div>
                                  </div>
                            </div>
                        </div>

                       
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name"> Client Private KeyPath <span class="text-danger">*</span> </label>
                                <input type="text" class="form-control input-small-4" id="ClientPrivateKeyPath"
                                    formControlName="ClientPrivateKeyPath" placeholder="Enter the Client Private KeyPath">
                                    <div *ngIf="submitted && f['ClientPrivateKeyPath'].errors" class="invalid-feedback">
                                        <div *ngIf="f['ClientPrivateKeyPath'].errors['required'] || (f['ClientPrivateKeyPath'].touched || !f['ClientPrivateKeyPath'].pristine)">Please select the Consumer Mobile Np</div>
                                  </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name"> Server Public KeyPath <span class="text-danger">*</span> </label>
                                <input type="text" class="form-control input-small-4" id="ServerPublicKeyPath"
                                    formControlName="ServerPublicKeyPath" placeholder="Enter the  Server Public KeyPath">
                                    <div *ngIf="submitted && f['ServerPublicKeyPath'].errors" class="invalid-feedback">
                                        <div *ngIf="f['ServerPublicKeyPath'].errors['required'] || (f['ServerPublicKeyPath'].touched || !f['ServerPublicKeyPath'].pristine)">Please select the Consumer Mobile Np</div>
                                  </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name"> Server Private KeyPath <span class="text-danger">*</span> </label>
                                <input type="text" class="form-control input-small-4" id="ServerPrivateKeyPath"
                                    formControlName="ServerPrivateKeyPath" placeholder="Enter the ServerPrivateKeyPath">
                                    <div *ngIf="submitted && f['ServerPrivateKeyPath'].errors" class="invalid-feedback">
                                        <div *ngIf="f['ServerPrivateKeyPath'].errors['required'] || (f['ServerPrivateKeyPath'].touched || !f['ServerPrivateKeyPath'].pristine)">Please select the Consumer Mobile Np</div>
                                  </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="onReset()" class="btn btn-warning float-right">
                Reset
              </button>
                <button type="button" class="btn  btn-secondary" data-dismiss="modal"
                    (click)="cancel(false)">Cancel</button>
                <button type="submit" class="btn  btn-primary pr-4 pl-4" *ngIf="!isEdit"
                    >Submit</button>
                <button type="submit" class="btn  btn-primary pr-4 pl-4" *ngIf="isEdit"
                    [disabled]="!mainform.valid">Update</button>
            </div>
        </form>

    </div>
</div>