body {
    margin: 10;
    padding: 10;
    background-color: #17a2b8;
    height: 100vh;
  }
 
/*<500px S*/
@media only screen and (max-width: 499px) {
    .manual-set {
        position: absolute;
        top: 15%;
        left: 0%;
      }
 }

/*500-1200 M*/
@media only screen and (min-width: 500px) and (max-width: 1199px) {
    .manual-set {
        position: absolute;
        top: 14%;
        left: 7%;
      }
 }

/*>1200px L*/
@media only screen and (min-width: 1200px) { 
    .manual-set {
        position: absolute;
        top: 14%;
        left: 14%;
      }
}

form {
  padding: 0px 30px 50px !important;
}
.bg-kyc {
  background: #344955 !important;
}
.error-kyc {
  color: #f8a0a9 !important;
}