<div id="login" class="container manual-set">
    <ngx-loading
    [show]="loading"
    [config]="{ backdropBorderRadius: '3px' }"
  ></ngx-loading>
	<div class="row justify-content-center align-items-center text-center p-2">
		<div class="m-1 col-sm-8 col-md-6 col-lg-4 shadow-sm p-3 mb-5 bg-white border rounded bg-kyc">
			<div class="pt-5 pb-5">
				<img class="rounded mx-auto d-block" src="../../../assets/kyc-logo.png" alt="" width="70%" height=80px>
				<p class="text-center text-uppercase mt-3" style="color:#fff">Login</p>
				<form class="form text-center" [formGroup]="form" (ngSubmit)="onSubmit()">
					<div class="form-group input-group-md">
						<!-- <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email"> -->
                        <input type="email" formControlName="email" class="form-control" placeholder="Enter email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" >
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback error-kyc "> 
                            <div *ngIf="f.email.errors.required">Username is required</div>
                        </div>
					</div>
					<div class="form-group input-group-md mt-2">
                        <input type="password" formControlName="password" class="form-control" placeholder="Enter Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback error-kyc">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                        </div>
					</div>
                    <div class="form-group input-group-md mt-2"  *ngIf="isPasswordChange">
                        <input type="password" formControlName="newpassword" class="form-control" placeholder="Enter New Passsword" [ngClass]="{ 'is-invalid': submitted && f.newpassword.errors }" />
                        <div *ngIf="submitted && f.newpassword.errors" class="invalid-feedback error-kyc">
                            <div *ngIf="f.newpassword.errors.required">New Password is required</div>
                        </div>
					</div>
                    <div class="form-group input-group-md mt-2"  *ngIf="isPasswordChange">
                        <input type="password" formControlName="confirmpassword" class="form-control" placeholder="Enter Confirm Password" [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors }" />
                        <div *ngIf="submitted && f.confirmpassword.errors" class="invalid-feedback error-kyc">
                            <div *ngIf="f.confirmpassword.errors.required">Confirm Password is required</div>
                            <div *ngIf="f.confirmpassword.errors.confirmedValidator">Password and Confirm Password must be match.</div>
                        </div>
					</div>
					<button class="btn btn-lg btn-block btn-primary mt-4" type="submit">
                        Login
                    </button>
				</form>
			</div>
		</div>
	</div>
</div>