
<div class="row">
    <h4>Pricing Management</h4>
  </div>
<div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
        <button type="button" class="btn btn-primary float-end" (click)="onOpenModal()"><i class="bi bi-plus-circle-fill"></i> Add</button>
    </div>
</div>

<div class="row mt-2">
    <table class="table table-bordered">
      <ngx-loading
      [show]="loading"
      [config]="{ backdropBorderRadius: '3px' }"
    ></ngx-loading>
        <thead>
          <tr>
            
            <th scope="col"> Fee template Id</th>
            <th scope="col"> Description</th>
            <th scope="col"> Approved By</th>
            <th scope="col"> Approved On</th>
            <th scope="col">Status</th>
            <th scope="col" style="width: 120px;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of pricingList; index as i;">
            <th scope="row">{{item.feetemplateId}}</th>
            <td>{{item.description}}</td>
            <td>{{item.approvedby}}</td>
            <td>{{item.approved_on}}</td>
            <td>{{item.status}}</td>
            <td>
              <button type="button" class="btn btn-primary me-2" (click)="onEditRow(item, i)"><i class="bi bi-pencil"></i></button>
              <button type="button" class="btn btn-danger" (click)="onDeleteRow(item, i)"><i class="bi bi-trash3"></i></button>
            </td>
          </tr>

        </tbody>
      </table>
</div>





<!-- <div class="container pt-5">


    <div class="row">
        <div class="col-2">
            Fee ID
        </div>
        <div class="col-2">
            <input type="text" class="w-100">
        </div>
        <div class="col-2 text-end">
            <button>SEARCH</button>
        </div>
        <div class="col-6">
            <div class="row justify-content-end">
                <div class="col-3">Date Last Modified</div>
                <div class="col-2"><input type="text"></div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-2">
            Fee Description
        </div>
        <div class="col-4">
            <input class="w-100" type="text">
        </div>
        <div class="col-6">
            <div class="row justify-content-end">
                <div class="col-3">Last Modified by</div>
                <div class="col-2"><input type="text"></div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-2">
        </div>
        <div class="col-4">
            Fee Structure
        </div>
        <div class="col-6">
            <div class="row justify-content-end">
                <div class="col-3">Date Approved by</div>
                <div class="col-2"><input type="text"></div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-2">
        </div>
        <div class="col-2">
            Operation Type
        </div>
        <div class="col-2">
            <input class="w-100" type="text">
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-2">
        </div>
        <div class="col-2">
            Number of Transactions
        </div>
        <div class="col-1">
            From
        </div>
        <div class="col-1">
            <input class="w-100" type="text">
        </div>
        <div class="col-1"></div>
        <div class="col-1">To</div>
        <div class="col-1">
            <input class="w-100" type="text">
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-2">
        </div>
        <div class="col-2">
            Fer Transaction Cost (Rs.)
        </div>
        <div class="col-1">
        </div>
        <div class="col-1">
            <input class="w-100" type="text">
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-4">
        </div>
        <div class="col-1">
            <button class="w-100">ADD</button>
        </div>
        <div class="col-1">
        </div>
        <div class="col-1">
            <button class="w-100">CANCEL</button>
        </div>
    </div>



    <div class="row mt-4">
        <div class="col-2">
            Active
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-2"></div>
        <div class="col-1">
            <button class="w-100">Submit</button>
        </div>
        <div class="col-1"></div>
        <div class="col-1">
            <button class="w-100">Cancel</button>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-2"></div>
        <div class="col-1">
            <button class="w-100">ADD</button>
        </div>
        <div class="col-1"></div>
        <div class="col-1">
            <button class="w-100">EDIT</button>
        </div>
        <div class="col-1"></div>
        <div class="col-1">
            <button class="w-100">VIEW</button>
        </div>
        <div class="col-1"></div>
        <div class="col-1">
            <button class="w-100">APPROVE</button>
        </div>
    </div>
</div> -->