<div class="container pt-5">
    <div class="row">
        <div class="col-2">
            Fee ID
        </div>
        <div class="col-2">
            <input type="text" class="w-100">
        </div>
        <div class="col-2 text-end">
            <button>SEARCH</button>
        </div>
        <div class="col-6">
            <div class="row justify-content-end">
                <div class="col-3">Date Last Modified</div>
                <div class="col-2"><input type="text"></div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-2">
            Fee Description
        </div>
        <div class="col-4">
            <input class="w-100" type="text">
        </div>
        <div class="col-6">
            <div class="row justify-content-end">
                <div class="col-3">Last Modified by</div>
                <div class="col-2"><input type="text"></div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-2">
        </div>
        <div class="col-4">
            Free Structure
        </div>
        <div class="col-6">
            <div class="row justify-content-end">
                <div class="col-3">Date Approved by</div>
                <div class="col-2"><input type="text"></div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-2">
        </div>
        <div class="col-2">
            Operation Type
        </div>
        <div class="col-2">
            <input class="w-100" type="text">
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-2">
        </div>
        <div class="col-2">
            Number of Transactions
        </div>
        <div class="col-1">
            From
        </div>
        <div class="col-1">
            <input class="w-100" type="text">
        </div>
        <div class="col-1"></div>
        <div class="col-1">To</div>
        <div class="col-1">
            <input class="w-100" type="text">
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-2">
        </div>
        <div class="col-2">
            Fer Transaction Cost (Rs.)
        </div>
        <div class="col-1">
        </div>
        <div class="col-1">
            <input class="w-100" type="text">
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-4">
        </div>
        <div class="col-1">
            <button class="w-100">ADD</button>
        </div>
        <div class="col-1">
        </div>
        <div class="col-1">
            <button class="w-100">CANCEL</button>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-4">
        </div>
        <div class="col-5">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Operation Type</th>
                        <th scope="col">From</th>
                        <th scope="col">To</th>
                        <th scope="col">Pre Txn Cost(Rs.)</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><a href="">Delete</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><a href="">Delete</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><a href="">Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-2">
            Active
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-2"></div>
        <div class="col-1">
            <button class="w-100">Submit</button>
        </div>
        <div class="col-1"></div>
        <div class="col-1">
            <button class="w-100">Cancel</button>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-2"></div>
        <div class="col-1">
            <button class="w-100">ADD</button>
        </div>
        <div class="col-1"></div>
        <div class="col-1">
            <button class="w-100">EDIT</button>
        </div>
        <div class="col-1"></div>
        <div class="col-1">
            <button class="w-100">VIEW</button>
        </div>
        <div class="col-1"></div>
        <div class="col-1">
            <button class="w-100">APPROVE</button>
        </div>
    </div>
</div>