#sidebar-wrapper .list-group a :hover {
    background: transparent !important;
}

.bg-submenu {
    background-color: transparent !important;
}

.active {
    background-color: #232f34!important;
    border-color: #232f34!important;
}