<div>
    <div class="modal-content">
        <ngx-loading
        [show]="loading"
        [config]="{ backdropBorderRadius: '3px' }"
      ></ngx-loading>
        <div class="modal-header">
            <h4 class="modal-title pull-left"><span *ngIf="isEdit;else add">Update</span>
                <ng-template #add>New </ng-template> Product
            </h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="cancel(false)">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form [formGroup]="mainform" autocomplete="off" (ngSubmit)="onSubmit(mainform.value)">
            <div class="modal-body">
                <div class="container">
                    <div class="alert alert-danger" style="padding:5px10px ;" *ngIf="errormessage!=''">
                        {{errormessage}}
                    </div>
                    <input *ngIf="isEdit" type="hidden" formControlName="id">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name"> Product Name <span class="text-danger">*</span> </label>
                                <input type="text" class="form-control input-small-4" id="ProductName"
                                    formControlName="productname" placeholder="Enter the Product Name" [ngClass]="{ 'is-invalid': submitted && f['productname'].errors }">
                                  <div *ngIf="submitted && f['productname'].errors" class="invalid-feedback">
                                        <div *ngIf="f['productname'].errors['required'] || (f['productname'].touched || !f['productname'].pristine)">
                                            Please enter the Product Name</div>
                                  </div>
                            </div>
                        </div>


                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="description"> Description</label>
                                    <textarea id="w3review" class="form-control input-small-4" name="Description" rows="3" formControlName="description">
                                        </textarea>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name"> Line Description
                                    <span class="text-danger">*</span> 
                                </label>
                                <ng-select  [items]="lineItems" bindLabel="name" bindValue="id"
                                                    [addTag]="addLineItem"
                                                    [multiple]="true"
                                                    placeholder="Select user or add custom tag"
                                                    [(ngModel)]="listdescriptions" formControlName="listdescription">
                                        </ng-select>

                                  <div *ngIf="submitted && f['listdescription'].errors" class="invalid-feedback">
                                        <div *ngIf="f['listdescription'].errors['required'] || (f['listdescription'].touched || !f['listdescription'].pristine)">
                                            Please enter the Service Name</div>
                                  </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name"> Currency <span class="text-danger">*</span> </label>
                                <select class="form-select" aria-label="Default select example"
                                formControlName="currency" [ngClass]="{ 'is-invalid': submitted && f['currency'].errors }">
                                <option [value]="''">Select the currency</option>
                                <option value="USD">USD</option>
                                <option value="LKR">LKR</option>
                                <option value="GBP">GBP</option>
                            </select>
                                  <div *ngIf="submitted && f['currency'].errors" class="invalid-feedback">
                                        <div *ngIf="f['currency'].errors['required'] || (f['currency'].touched || !f['currency'].pristine)">
                                            Please enter the currency </div>
                                  </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name"> Price <span class="text-danger">*</span> </label>
                                <input type="text" class="form-control input-small-4" id="price"
                                    formControlName="price" placeholder="Enter the price" [ngClass]="{ 'is-invalid': submitted && f['price'].errors }">
                                  <div *ngIf="submitted && f['price'].errors" class="invalid-feedback">
                                        <div *ngIf="f['price'].errors['required'] || (f['price'].touched || !f['price'].pristine)">
                                            Please enter the Product Name</div>
                                  </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="name">Period 
                                    <span class="text-danger">*</span> 
                                </label>
                                <select class="form-select" aria-label="Default select example"
                                    formControlName="period" [ngClass]="{ 'is-invalid': submitted && f['period'].errors }">
                                    <option [value]="''">Select the period</option>
                                    <option value="Monthly">Monthly</option>
                                    <option value="Yearly">Yearly</option>
                                </select>
                                <div *ngIf="submitted && f['period'].errors" class="invalid-feedback">
                                    <div *ngIf="f['period'].errors['required'] || (f['period'].touched || !f['period'].pristine)">
                                        Please select the period</div>
                              </div>
                            </div>
                        </div>

                        

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="onReset()" class="btn btn-warning float-right">
                Reset
              </button>
                <button type="button" class="btn  btn-secondary" data-dismiss="modal"
                    (click)="cancel(false)">Cancel</button>
                <button type="submit" class="btn  btn-primary pr-4 pl-4" *ngIf="!isEdit"
                    >Submit</button>
                <button type="submit" class="btn  btn-primary pr-4 pl-4" *ngIf="isEdit"
                    [disabled]="!mainform.valid">Update</button>
            </div>
        </form>

    </div>
</div>